{% extends 'base.html' %}
{% block content %}
<div class="col-md-6 offset-md-3">
  {% if user.is_authenticated %}
    <h1>Hello, {{ user.username }}</h1>
  {% else %}
    <h1>Login</h1>
    <br>
    <form method="post" action="{% url 'home' %}" autocomplete="off">
      {% csrf_token %}
      <div class="mb-3">
        <label for="username" class="form-label fw-bold">Username</label>
        <input type="text" class="form-control" name="username" id="username" required autocomplete="off">
      </div>
      <br>
      <div class="mb-3">
        <label for="password" class="form-label fw-bold">Password</label>
        <input type="password" class="form-control" name="password" id="password" required autocomplete="off">
      </div>
      <button type="submit" class="btn btn-secondary">Login</button>
    </form>
  {% endif %}
</div>
{% endblock %}
