{% extends 'base.html' %}
{% block content %}
  {% if user.is_authenticated %}
    <h1>Records</h1>

    <table class="table table-striped table-hover table-bordered ">
      <thead class="table-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">created_at</th>
          <th scope="col">Name</th>
          <th scope="col">email</th>
          <th scope="col">address</th>
          <th scope="col">city</th>
          <th scope="col">Phone_Number</th>
        </tr>
      </thead>
      <tbody>
        
        {%if records%}
        {%for record in records%}
        <tr>
          <td><a href="{% url 'record' record.id %}">{{ record.id }}</a></td>
          <td>{{record.created_at}}</td>
          <td>{{record.first_name}}
            {{record.last_name}}</td>
          <td>{{record.email}}</td>
          <td>{{record.address}}</td>
          <td>{{record.city}}</td>
          <td>{{record.phone_number}}</td>
      </tr>
      {%endfor%}
      {%endif%}
    </tbody>
  </table>    

  {% else %}
    <div class="col-md-6 offset-md-3">
    <h1>Login</h1>
    <br>
    <form method="post" action="{% url 'home' %}" autocomplete="off">
      {% csrf_token %}
      <div class="mb-3">
        <label for="username" class="form-label fw-bold">Username</label>
        <input type="text" class="form-control" name="username" id="username" required autocomplete="off">
      </div>
      <br>
      <div class="mb-3">
        <label for="password" class="form-label fw-bold">Password</label>
        <input type="password" class="form-control" name="password" id="password" required autocomplete="off">
      </div>
      <button type="submit" class="btn btn-secondary">Login</button>
    </form>
  {% endif %}
{% endblock %}
